.call {
  height: 426px;
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/shutterstock_115230979.png");
  background-position: -760px 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 48px;
}

.call__wrap {
  margin-left: 10px;
  margin-right: 10px;
}

.call__title {
  font-size: 20px;
  line-height: 24px;
  color: @white;
  padding-top: 127px;
  margin-bottom: 10px;
}

.call__text {
  font-size: 14px;
  line-height: 16px;
  color: @white;
  margin-bottom: 85px;
}

.call__button {
  width: 300px;
  height: 64px;
  border-radius: 4px;
  background-color: #ffffff;
  color: @blue2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 26px;
  border: none;
}
