@font-face {
  font-family: "GolosTextMedium";
  src: url("../fonts/Golos_Text_Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "GolosTextRegular";
  src: url("../fonts/Golos_Text_Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "GostUiRegular";
  src: url("../fonts/gostuiregular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "GostUiMedium";
  src: url("../fonts/gostuimedium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "GostUiBold";
  src: url("../fonts/gostuibold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SfUiMedium";
  src: url("../fonts/SFUIDisplay-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SfUiBold";
  src: url("../fonts/SFUIDisplay-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SfUiHeavy";
  src: url("../fonts/SFUIDisplay-Heavy.ttf");
  font-display: swap;
}
