.news {
  margin: 0 auto;
  margin-bottom: 48px;
  width: @mobile-width;
}

.news__wrap {
  margin-left: 10px;
}

.news__slider {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 32px;
}

.news__item {
  width: 220px;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.news__title {
  font-size: 22px;
  line-height: 24px;
  color: @gray2;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.news__arrow {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.news__image {
  width: 220px;
}

.news__item-title {
  font-size: 12px;
  line-height: 16px;
  color: @gray2;
}

.news__footer {
  color: @gray1;
  font-size: 10px;
  line-height: 20px;
  font-family: "GolosTextRegular", Arial, Helvetica, sans-serif;
}

.news__button {
  margin: 0 auto;
  width: 300px;
  height: 36px;
  background-color: @blue2;
  color: @gray3;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: @desktop-width) {
  .news {
    width: @desktop-width;
    margin-bottom: 100px;
  }

  .news__wrap {
    margin: 0;
  }

  .news__item {
    width: 352px;
    margin-right: 32px;
  }

  .news__image {
    width: 352px;
  }

  .news__slider {
    overflow-x: auto;
  }

  .news__button {
    display: none;
  }

  .news__title {
    font-family: "SfUiHeavy", Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 40px;
  }

  .news__arrow {
    margin-left: 18px;
  }

  .news__item-title {
    font-family: "GostUiMedium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
  }

  .news__footer {
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  .news__description {
    display: flex;
    flex-direction: column;
    min-height: 140px;
    justify-content: space-between;
  }

}
