.stats {
  width: @mobile-width;
  margin: 0 auto;
}

.stats__item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.stats__image {
  margin-bottom: 8px;
}

.stats__title {
  font-size: 40px;
  line-height: 40px;
  color: @gray2;
}

.stats__hint {
  font-family: "GolosTextRegular", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: @gray1;
}

@media (min-width: @desktop-width) {
  .stats {
    width: @desktop-width;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px @gray6;
    margin-bottom: 125px;
  }

  .stats__item-wrap {
    align-items: start;
  }

  .stats__item {
    flex-direction: row;
    margin-bottom: 72px;
  }

  .stats__image {
    margin-right: 24px;
  }


}
