.sub-nav {
  width: @mobile-width;
  margin: 0 auto;
  height: 48px;
  display: flex;
  font-size: 11px;
}

.sub-nav__wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.sub-nav__left {
  display: flex;
  align-items: center;
}

.sub-nav__right {
  display: flex;
  align-items: center;
}

.sub-nav__link {
  text-decoration: none;
  color: @gray1;
}

.sub-nav__link-image {
  margin-right: 8px;
}

.sub-nav__pin {
  margin-right: 20px;
}

.sub-nav__item {
  text-decoration: none;
  color: @gray1;
}

@media (min-width: @tablet-width) {
   .sub-nav {
      width: @tablet-width;
   }

}


@media (min-width: @desktop-width) {

  .sub-nav {
    width: @desktop-width;
    border-bottom: solid 1px @gray6;
    font-family: "GostUiMedium", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  .sub-nav__pin {
    margin-right: 8px;
  }

  .sub-nav__item--choose {
    margin-right: 24px;
  }

  .sub-nav__item--cab {
    margin-right: 8px;
  }

}
