@font-face {
  font-family: "GolosTextMedium";
  src: url("../fonts/Golos_Text_Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "GolosTextRegular";
  src: url("../fonts/Golos_Text_Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "GostUiRegular";
  src: url("../fonts/gostuiregular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "GostUiMedium";
  src: url("../fonts/gostuimedium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "GostUiBold";
  src: url("../fonts/gostuibold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SfUiMedium";
  src: url("../fonts/SFUIDisplay-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SfUiBold";
  src: url("../fonts/SFUIDisplay-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SfUiHeavy";
  src: url("../fonts/SFUIDisplay-Heavy.ttf");
  font-display: swap;
}
.main-nav {
  width: 320px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 24px;
}
.main-nav__wrap {
  width: auto;
  width: 300px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 100px;
}
.main-nav--closed {
  display: none;
}
.main-nav__item {
  height: 63px;
  font-size: 12px;
  height: 24px;
  margin-bottom: 12px;
}
.main-nav__item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav__item--cab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1693d1;
  padding-top: 20px;
}
.main-nav__item-icon {
  width: 20px;
  margin-right: 12px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  margin-top: 1px;
  list-style-type: none;
  display: block;
}
.main-nav__list--closed {
  display: none;
}
@media (min-width: 1120px) {
  .main-nav {
    width: 1120px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "GostUiMedium", Arial, Helvetica, sans-serif;
  }
  .main-nav__item--cab {
    display: none;
  }
  .main-nav__wrap {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .main-nav__list--closed {
    width: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav__item {
    font-size: 16px;
    line-height: 24px;
  }
}
.sub-nav {
  width: 320px;
  margin: 0 auto;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
}
.sub-nav__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.sub-nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-nav__link {
  text-decoration: none;
  color: #848e99;
}
.sub-nav__link-image {
  margin-right: 8px;
}
.sub-nav__pin {
  margin-right: 20px;
}
.sub-nav__item {
  text-decoration: none;
  color: #848e99;
}
@media (min-width: 1120px) {
  .sub-nav {
    width: 1120px;
    border-bottom: solid 1px #eaeaea;
    font-family: "GostUiMedium", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  .sub-nav__pin {
    margin-right: 8px;
  }
  .sub-nav__item--choose {
    margin-right: 24px;
  }
  .sub-nav__item--cab {
    margin-right: 8px;
  }
}
.page-header__main {
  margin: 0 auto;
  width: 320px;
  height: 767px;
  background: url("../img/background.png"), -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#d7f2fd));
  background: url("../img/background.png"), linear-gradient(to top, #ffffff, #d7f2fd);
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  padding-top: 8px;
}
.page-header__logo {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.page-header__toggle {
  width: 22px;
  height: 22px;
}
.page-header__main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 46px;
}
.page-header__main-wrap--open {
  display: none;
}
.page-header__main-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__title {
  font-family: "GolosTextMedium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 1120px) {
  .page-header__main {
    width: 1120px;
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: -156px -83px;
    height: auto;
  }
  .page-header__main-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 159px;
  }
  .page-header__toggle {
    display: none;
  }
  .page-header__logo {
    width: 90px;
    height: 90px;
    margin-right: 24px;
  }
  .page-header__title {
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 28px;
  }
}
.search-box {
  width: 300px;
  margin: 0 auto;
  height: 577px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.91);
}
.search-box__wrap {
  width: 267px;
  margin: 0 auto;
}
.search-box__input {
  padding: 10px 78px 10px 42px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  -webkit-box-shadow: 0 12px 13px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 12px 13px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  border: none;
  font-size: 18px;
  line-height: 40px;
}
.search-box__input-wrap {
  height: 60px;
  position: relative;
  margin-bottom: 8px;
}
.search-box__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8px;
}
.search-box__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 44px;
  border-radius: 4px;
  background-color: #f50019;
  color: #ffffff;
  border: none;
}
.search-box__title {
  font-size: 14px;
  line-height: 26px;
  color: #848e99;
  margin-bottom: 12px;
}
.search-box__select {
  position: relative;
  margin-bottom: 20px;
}
.search-box__label {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 8px;
  font-family: "GolosTextRegular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #848e99;
}
@media (min-width: 1120px) {
  .search-box {
    width: 900px;
    height: 298px;
    margin-bottom: 32px;
  }
  .search-box__wrap {
    width: 805px;
  }
  .search-box__wrap2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search-box__label {
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
  }
  .search-box__title {
    margin-bottom: 16px;
  }
  .search-box__select {
    width: 145px;
    margin-right: 16px;
  }
  .search-box__select:last-child {
    margin-right: 0px;
  }
  .search-box__input {
    padding: 20px 101px 20px 74px;
    height: 80px;
  }
  .search-box__input-wrap {
    height: 80px;
    margin-bottom: 28px;
  }
  .search-box__icon {
    width: 29px;
    height: 29px;
    left: 24px;
  }
  .search-box__button {
    width: 85px;
    height: 48px;
    right: 16px;
  }
}
.edd-root,
.edd-root *,
.edd-root *::before,
.edd-root *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.edd-root {
  display: inline-block;
  position: relative;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Open Sans', arial, helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}
.edd-root-disabled {
  color: #ccc;
  cursor: not-allowed;
}
.edd-head {
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
  -webkit-transition: border-color 150ms, -webkit-box-shadow 200ms;
  transition: border-color 150ms, -webkit-box-shadow 200ms;
  transition: box-shadow 200ms, border-color 150ms;
  transition: box-shadow 200ms, border-color 150ms, -webkit-box-shadow 200ms;
  background: white;
}
.edd-head,
.edd-body {
  border-radius: 4px;
}
.edd-root-focused .edd-head {
  -webkit-box-shadow: 0 0 5px rgba(105, 215, 255, 0.4);
          box-shadow: 0 0 5px rgba(105, 215, 255, 0.4);
}
.edd-root-invalid .edd-head {
  -webkit-box-shadow: 0 0 5px rgba(255, 105, 105, 0.671);
          box-shadow: 0 0 5px rgba(255, 105, 105, 0.671);
}
.edd-root:not(.edd-root-disabled):not(.edd-root-open) .edd-head:hover {
  border-color: #ccc;
}
.edd-value {
  width: calc(100% - 40px);
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
}
.edd-arrow {
  position: absolute;
  width: 18px;
  height: 10px;
  top: calc(50% - 5px);
  right: calc(24px - 9px);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  pointer-events: none;
}
.edd-arrow::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 1px solid #848e99;
  border-bottom: 1px solid #848e99;
  top: -5px;
  right: -7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50% 25%;
          transform-origin: 50% 25%;
}
.edd-root-open .edd-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.edd-value,
.edd-option,
.edd-group-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.edd-root:not(.edd-root-disabled) .edd-value,
.edd-option {
  cursor: pointer;
}
.edd-select {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: -100%;
  top: 0;
}
.edd-root-native .edd-select {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.edd-body {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #eee;
  pointer-events: none;
  overflow: hidden;
  margin: 8px 0;
  z-index: 999;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background: white;
}
.edd-root-open .edd-body {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 200ms, -webkit-transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 200ms, -webkit-transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 200ms, transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 200ms, transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.edd-root-open-above .edd-body {
  bottom: 100%;
}
.edd-root-open-below .edd-body {
  top: 100%;
}
.edd-items-list {
  overflow: auto;
  max-height: 0;
  -webkit-transition: max-height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: max-height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-overflow-scrolling: touch;
}
.edd-group-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 12px 8px 4px;
  color: #999;
}
.edd-group-has-label {
  border-bottom: 1px solid #eee;
}
.edd-option {
  padding: 4px 8px;
}
.edd-group-has-label .edd-option {
  padding-left: 20px;
}
.edd-option-selected {
  font-weight: bold;
}
.edd-option-focused:not(.edd-option-disabled) {
  color: #4ac5f1;
}
.edd-option-disabled,
.edd-group-disabled .edd-option {
  cursor: default;
  color: #ccc;
}
.edd-gradient-top,
.edd-gradient-bottom {
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  height: 32px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(40%, #ffffff), color-stop(60%, #ffffff), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ffffff 40%, #ffffff 60%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
  background-size: 100% 200%;
  pointer-events: none;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  opacity: 0;
}
.edd-gradient-top {
  background-position: bottom;
  top: 0;
}
.edd-gradient-bottom {
  background-position: top;
  bottom: 0;
}
.edd-body-scrollable .edd-gradient-top,
.edd-body-scrollable .edd-gradient-bottom {
  opacity: 1;
}
.edd-body-scrollable.edd-body-at-top .edd-gradient-top,
.edd-body-scrollable.edd-body-at-bottom .edd-gradient-bottom {
  opacity: 0;
}
.edd-head {
  height: 48px;
  border-radius: 4px;
  border: solid 1px #9ed8f5;
}
.edd-value {
  position: relative;
  top: 8px;
  font-family: "GolosTextMedium", Arial, Helvetica, sans-serif;
  color: #3b4256;
}
@media (min-width: 1120px) {
  .edd-value {
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}
.news {
  margin: 0 auto;
  margin-bottom: 48px;
  width: 320px;
}
.news__wrap {
  margin-left: 10px;
}
.news__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 32px;
}
.news__item {
  width: 220px;
  margin-right: 20px;
}
.news__item:last-child {
  margin-right: 0;
}
.news__title {
  font-size: 22px;
  line-height: 24px;
  color: #3b4256;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news__arrow {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}
.news__image {
  width: 220px;
}
.news__item-title {
  font-size: 12px;
  line-height: 16px;
  color: #3b4256;
}
.news__footer {
  color: #848e99;
  font-size: 10px;
  line-height: 20px;
  font-family: "GolosTextRegular", Arial, Helvetica, sans-serif;
}
.news__button {
  margin: 0 auto;
  width: 300px;
  height: 36px;
  background-color: #1693d1;
  color: #f4f7fb;
  font-size: 12px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1120px) {
  .news {
    width: 1120px;
    margin-bottom: 100px;
  }
  .news__wrap {
    margin: 0;
  }
  .news__item {
    width: 352px;
    margin-right: 32px;
  }
  .news__image {
    width: 352px;
  }
  .news__slider {
    overflow-x: auto;
  }
  .news__button {
    display: none;
  }
  .news__title {
    font-family: "SfUiHeavy", Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 40px;
  }
  .news__arrow {
    margin-left: 18px;
  }
  .news__item-title {
    font-family: "GostUiMedium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
  .news__footer {
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  .news__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 140px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.call {
  height: 426px;
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/shutterstock_115230979.png");
  background-position: -760px 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 48px;
}
.call__wrap {
  margin-left: 10px;
  margin-right: 10px;
}
.call__title {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 127px;
  margin-bottom: 10px;
}
.call__text {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 85px;
}
.call__button {
  width: 300px;
  height: 64px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #1693d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 26px;
  border: none;
}
@media (min-width: 1120px) {
  .call {
    width: 100%;
    height: 359px;
    background-position: 0 0;
    background-size: cover;
    margin-bottom: 107px;
  }
  .call__wrap {
    width: 1120px;
    margin: 0 auto;
  }
  .call__title {
    font-family: "SfUiHeavy", Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 16px;
    padding-top: 60px;
  }
  .call__text {
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 32px;
  }
  .call__button {
    font-family: "GostUiMedium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
}
.stats__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.stats__image {
  margin-bottom: 8px;
}
.stats__title {
  font-size: 40px;
  line-height: 40px;
  color: #3b4256;
}
.stats__hint {
  font-family: "GolosTextRegular", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #848e99;
}
@media (min-width: 1120px) {
  .stats {
    width: 1120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: solid 1px #eaeaea;
    margin-bottom: 125px;
  }
  .stats__item-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .stats__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 72px;
  }
  .stats__image {
    margin-right: 24px;
  }
}
.programs {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.programs__wrap {
  margin-left: 10px;
}
.programs__title {
  margin-bottom: 32px;
  font-size: 22px;
  line-height: 24px;
  color: #3b4256;
}
.programs__slider {
  overflow-x: auto;
}
.programs__slider-wrap {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px 240px 240px;
  grid-template-rows: auto;
}
.programs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 220px;
  padding: 8px 12px 8px 8px;
  min-height: 93px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  font-family: "GolosTextRegular", Arial, Helvetica, sans-serif;
  margin-right: 20px;
  margin-bottom: 20px;
}
.programs__item:last-child {
  margin-right: 0px;
}
.programs__item-title {
  font-size: 12px;
  line-height: 16px;
  color: #3b4256;
}
.programs__item-text {
  font-size: 10px;
  line-height: 14px;
  color: #848e99;
}
.programs__item-image {
  width: 22px;
  height: 24px;
}
.programs__button {
  width: 300px;
  height: 36px;
  background-color: #1693d1;
  color: #f4f7fb;
  font-size: 12px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}
.programs__footer {
  display: none;
}
.programs__pagination {
  display: none;
}
@media (min-width: 1120px) {
  .programs {
    width: 1120px;
  }
  .programs__wrap {
    margin: 0;
  }
  .programs__title {
    font-family: "SfUiBold", Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 40px;
  }
  .programs__slider-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .programs__item {
    width: 544px;
    padding: 28px 32px;
    margin-right: 32px;
    margin-bottom: 16px;
  }
  .programs__item:nth-child(even) {
    margin-right: 0;
  }
  .programs__item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .programs__item-image {
    width: 64px;
    height: 69.5px;
  }
  .programs__item-title {
    font-family: "GostUiMedium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
  .programs__item-text {
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  .programs__button {
    display: none;
  }
  .programs__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .programs__footer img {
    margin-right: 8px;
  }
  .programs__footer span {
    margin-right: 32px;
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #848e99;
  }
  .programs__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .programs__pagination-list {
    width: 412px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .programs__pagination-item {
    width: 72px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .programs__pagination-item--active {
    cursor: auto;
  }
  .programs__pagination-item--active::before {
    position: absolute;
    content: "";
    width: 49px;
    height: 2px;
    bottom: 0;
    background-color: #0c49cd;
  }
}
.footer {
  width: 320px;
  height: 318px;
  margin: 0 auto;
  background-color: #f6f6f6;
  color: #848e99;
  font-size: 12px;
  line-height: 16px;
}
.footer__wrap {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 67px;
}
.footer__title {
  margin-bottom: 48px;
}
.footer__mail {
  display: block;
  color: #848e99;
  margin-bottom: 48px;
}
.footer__social a {
  text-decoration: none;
}
.footer__social a {
  margin-right: 16px;
}
.footer__social a:last-child {
  margin-right: 0px;
}
@media (min-width: 1120px) {
  .footer {
    width: 100%;
    height: 184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
  .footer__wrap {
    height: 84px;
    padding: 0;
    width: 1120px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__title {
    margin: 0;
    margin-right: 54px;
  }
  .footer__mail {
    margin: 0;
  }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile-header {
  display: none;
  width: 100%;
  height: 48px;
  background-image: radial-gradient(circle at 10% 34%, #d9f2fd, #1693d1 130%), -webkit-gradient(linear, left top, left bottom, from(#319fd6), to(#319fd6));
  background-image: radial-gradient(circle at 10% 34%, #d9f2fd, #1693d1 130%), linear-gradient(to bottom, #319fd6, #319fd6);
}
.mobile-header__wrap {
  width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.mobile-header--open {
  display: block;
}
.mobile-header__logo {
  width: 42px;
  height: 42px;
}
.mobile-header__toggle {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
@media (min-width: 1120px) {
  .mobile-header {
    display: none;
  }
}
body {
  font-family: "GolosTextMedium", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.desktop-visible {
  display: none;
}
.mobile-visible {
  display: inline;
}
.visualy-hidden {
  display: none;
}
@media (min-width: 1120px) {
  body {
    font-family: "GostUiRegular", Arial, Helvetica, sans-serif;
  }
  .mobile-visible {
    display: none;
  }
  .desktop-visible {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
